<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ssadeo.user">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.ssadeo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.diff.app.permission.C2D_MESSAGE" />

    <application
        android:name="com.ssadeo.MvpApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_push" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name="com.ssadeo.common.fcm.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <service
            android:name="com.ssadeo.common.fcm.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!--<receiver
            android:name="com.tranxit.enterprise.common.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
-->
        <activity
            android:name="com.ssadeo.ui.activity.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ssadeo.ui.activity.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ssadeo.ui.activity.OnBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ssadeo.ui.activity.register.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName="com.ssadeo.ui.activity.OnBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ssadeo.ui.activity.login.EmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ssadeo.ui.activity.login.PasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.ssadeo.ui.activity.profile.ProfileActivity"
            android:label="@string/profile"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.change_password.ChangePasswordActivity"
            android:label="@string/change_password"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.help.HelpActivity"
            android:label="@string/help"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.your_trips.YourTripActivity"
            android:label="@string/your_trips"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ssadeo.ui.activity.main.MainActivity" />
        </activity>
        <activity
            android:name="com.ssadeo.ui.activity.passbook.PassbookActivity"
            android:label="@string/passbook"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ssadeo.ui.activity.main.MainActivity" />
        </activity>
        <activity
            android:name="com.ssadeo.ui.activity.FaqActivity"
            android:label="@string/faq_support"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.TermsActivity"
            android:label="@string/terms_and_conditions"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.PrivacyActivity"
            android:label="@string/privacy_policy"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.past_trip_detail.PastTripDetailActivity"
            android:label="@string/past_trip_details"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.upcoming_trip_detail.UpcomingTripDetailActivity"
            android:label="@string/upcoming_trip_details"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.setting.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.location_pick.LocationPickActivity"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ssadeo.ui.activity.main.MainActivity" />
        </activity>
        <activity
            android:name="com.ssadeo.ui.activity.wallet.WalletActivity"
            android:label="@string/wallet"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.coupon.CouponActivity"
            android:label="@string/coupon"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.social.SocialLoginActivity"
            android:label="@string/white_space"
            android:parentActivityName="com.ssadeo.ui.activity.OnBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.invite.InviteActivity"
            android:label="@string/invite_referral"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.payment.PaymentActivity"
            android:label="@string/payment"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.add_card.AddCardActivity"
            android:label="@string/add_card_for_payments"
            android:parentActivityName="com.ssadeo.ui.activity.payment.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.forgot_password.ForgotPasswordActivity"
            android:label="@string/reset_password"
            android:parentActivityName="com.ssadeo.ui.activity.login.PasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.card.CardsActivity"
            android:label="@string/select_card"
            android:parentActivityName="com.ssadeo.ui.activity.wallet.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.chat.ChatActivity"
            android:label="@string/chat"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.ssadeo.ui.activity.otp.OTPActivity"
            android:label="Verify OTP"
            android:parentActivityName="com.ssadeo.ui.activity.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name="com.ssadeo.common.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ssadeo.ui.activity.about_us.AboutActivity"
            android:label="@string/about_us"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.common.cc_avenue.CCAvenueWebViewActivity"
            android:label="@string/payment" />
        <activity
            android:name="com.ssadeo.ui.activity.rental.RentalActivity"
            android:label="@string/rent_booking"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ssadeo.ui.activity.outstation.OutstationBookingActivity"
            android:label="@string/outstation_booking"
            android:parentActivityName="com.ssadeo.ui.activity.main.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>